<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="me.soomin.mappers.BoardMapper">
  
  <resultMap type="me.soomin.domain.BoardVO" id="BoardVO">
  	<result column="bno" property="bno" javaType="java.lang.Long"/>
  	<result column="title" property="title" javaType="java.lang.String"/>
  	<result column="content" property="content" javaType="java.lang.String"/>
  	<result column="writer" property="writer" javaType="java.lang.String"/>
  	<result column="regdate" property="regdate" javaType="java.util.Date"/>
  	<result column="updatedate" property="updateDate" javaType="java.util.Date"/>
  </resultMap>
  <parameterMap type="me.soomin.domain.BoardVO" id="BoardVO">
  	<parameter property="bno" javaType="java.lang.Long"/>
  	<parameter property="title" javaType="java.lang.String"/>
  	<parameter property="content" javaType="java.lang.String"/>
  	<parameter property="writer" javaType="java.lang.String"/>
  	<parameter property="regdate" javaType="java.util.Date"/>
  	<parameter property="updateDate" javaType="java.util.Date"/>
  </parameterMap>
  
   <sql id="criteria">
   	<trim prefix="(" suffix=") AND"  prefixOverrides="OR">
  		<foreach collection="typeArr" item="type">
  			<trim prefix="OR">
  				<choose>
  					<when test="type == 'T'.toString() ">
  						title LIKE '%'||#{keyword}||'%'
  					</when>
  					<when test="type == 'C'.toString()">
  						content LIKE '%'||#{keyword}||'%'
  					</when>
  					<when test="type == 'W'.toString()">
  						writer LIKE '%'||#{keyword}||'%'
  					</when>
  				</choose>
  			</trim>
  		</foreach>
  	</trim>
   </sql>
  
  <select id="getTotalCount" resultType="java.lang.Integer">
  	SELECT COUNT(*) FROM tbl_board WHERE 
  	<include refid="criteria" />
  	 bno > 0
  </select>
  
  <select id="getListWithPaging" resultMap="BoardVO">
  	<![CDATA[
  	select bno,title,content,writer,regdate,updatedate from
(select /*+ INDEX_DESC(tbl_board pk_board) */ 
rownum rn,bno,title,content,writer,regdate,updatedate from tbl_board
 where 
  	]]>
  	<include refid="criteria"></include>
  	<![CDATA[
  				rownum <= #{pageNum} * #{amount}
  				)
  				where rn > ( #{pageNum} -1 ) * #{amount} 
  					]]>
  </select>
  
  	<select id="read" resultMap="BoardVO">
  		SELECT * FROM tbl_board WHERE bno = #{bno}
  	</select>
  	
  		<select id="getList" resultMap="BoardVO">
  		<![CDATA[
  			SELECT * FROM tbl_board where bno > 0
  			]]>
  		</select>
  		
  		<insert id="insert" parameterMap="BoardVO">
  			INSERT INTO tbl_board ( bno, title, content,writer ) VALUES (seq_board.nextval, #{title}, #{content}, #{writer})
  		</insert>
  		
  		<insert id="insertSelectKey" parameterMap="BoardVO">
  			<selectKey keyColumn="bno" keyProperty="bno" order="BEFORE" resultType="java.lang.Long">
  				SELECT seq_board.nextval FROM DUAL
  			</selectKey>
  			
  			INSERT INTO tbl_board (bno, title, content, writer) VALUES(#{bno}, #{title} , #{content}, #{writer})
  		</insert>
  		
  		<delete id="delete"  parameterType="java.lang.Long" > 
  			DELETE FROM tbl_board WHERE bno = #{bno}
  		</delete>
  		
  		<update id="update" parameterMap="BoardVO">
  			UPDATE tbl_board
  			SET title = #{title},
  				content = #{content},
  				writer = #{writer},
  				updatedate= sysdate
  				WHERE bno = #{bno}
  		</update>
  	
  </mapper>